<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>

  <configSections>
  </configSections>

  <appSettings>

  </appSettings>


  <system.web>
    <customErrors mode="Off" />
    <sessionState timeout="40" />
    <compilation debug="true"
                 targetFramework="4.5" />

    <httpRuntime requestValidationMode="2.0"
                 maxQueryStringLength="4000"
                 executionTimeout="10800" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpRedirect enabled="false"
                  destination="/ReportViewer" />
  </system.webServer>

</configuration>